body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header h1 {
    color: #38761d; /* Verd fosc */
    margin-bottom: 40px;
}

#arbre-advent {
    /* Per posicionar les boles de manera absoluta sobre l'arbre */
    position: relative; 
    width: 600px; /* Amplada de l'arbre */
    height: 700px; /* Alçada de l'arbre */
    margin: 0 auto; /* Centrar-ho */
    background-color: transparent;
}

/* Dibuixar la forma de l'arbre (amb CSS triangles/shapes) */
#arbre-advent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* Això dibuixa un triangle gran i verd */
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 700px solid #38761d; /* Verd de l'arbre */
    z-index: 0; /* Col·locar al fons */
}

/* El tronc de l'arbre */
#arbre-advent::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 80px;
    background-color: #a67f5b; /* Marró del tronc */
    z-index: 1;
}

/* Estil general de les boles */
.bola {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Forma de cercle */
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 10; /* Perquè estiguin per sobre de l'arbre */
    transition: transform 0.2s, opacity 0.2s;
}

/* Boles amb diferents colors */
/* Pots assignar colors segons el dia, o un patró */
.bola:nth-child(3n+1) { background-color: #e06666; } /* Vermell */
.bola:nth-child(3n+2) { background-color: #ffd966; } /* Groc/Or */
.bola:nth-child(3n) { background-color: #6d9eeb; } /* Blau */

/* Efecte quan la bola no està disponible (futura) */
.bola.bloquejada {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none; /* Inhabilita el clic */
}

/* Posicionament de les boles (Això és la part més tediosa. Les coordenades han de ser ajustades manualment perquè semblin un arbre!) */

/* Exemple de posicionament: (Utilitza 'top' i 'left' en % o px) */
.bola[data-dia="1"] { top: 100px; left: 150px; }
.bola[data-dia="2"] { top: 150px; left: 450px; }
.bola[data-dia="3"] { top: 200px; left: 50px; }
.bola[data-dia="4"] { top: 200px; left: 500px; }
.bola[data-dia="5"] { top: 250px; left: 280px; }
.bola[data-dia="6"] { top: 250px; left: 100px; } 
.bola[data-dia="7"] { top: 300px; left: 400px; }
.bola[data-dia="8"] { top: 300px; left: 180px; } 
.bola[data-dia="9"] { top: 350px; left: 500px; }
.bola[data-dia="10"] { top: 350px; left: 80px; }
.bola[data-dia="11"] { top: 400px; left: 280px; }
.bola[data-dia="12"] { top: 400px; left: 450px; }
.bola[data-dia="13"] { top: 450px; left: 150px; }
.bola[data-dia="14"] { top: 450px; left: 380px; }
.bola[data-dia="15"] { top: 500px; left: 60px; }
.bola[data-dia="16"] { top: 500px; left: 500px; }
.bola[data-dia="17"] { top: 550px; left: 250px; }
.bola[data-dia="18"] { top: 550px; left: 450px; }
.bola[data-dia="19"] { top: 600px; left: 100px; }
.bola[data-dia="20"] { top: 600px; left: 400px; }
.bola[data-dia="21"] { top: 650px; left: 200px; }
.bola[data-dia="22"] { top: 650px; left: 350px; }
.bola[data-dia="23"] { top: 700px; left: 280px; }
.bola[data-dia="24"] { top: 60px; left: 280px; background-color: #ffde1f; } /* Dia 24 al capdamunt */